{% extends 'base.html' %}
{%load static%}

{% block title %}Cambiar contraseña{% endblock title %}


{% block content %}


<div class="container">
    <br>

    <div class="col-md-8 d-flex ">

        <h1> Actualización de contraseña</h1>
        <form method="post" enctype='multipart/form-data'> {% csrf_token %}
            {{form.as_p}}
        
            <button type="submit" class="btn btn-outline-success">Modificar</button>
        
        </form>

    </div>
    
</div>


{% endblock content %}
